@model IEnumerable<Ecommerce.ViewModels.Billdetail>


@{
    ViewData["Title"] = "Thống kế đơn hàng theo năm";
    Layout = "~/Views/Shared/_LayoutAdminHangHoas.cshtml";

}
<h2>Thống kê đơn hàng cho năm: @ViewBag.Year</h2>
<p>Tổng số lượng đơn hàng: @ViewBag.OrderCount</p>
<table class="table">
    <thead>
        <tr>
            <th>Mã HĐ</th>
            <th>Ngày đặt</th>
            <th>Họ tên</th>
            <th>Địa chỉ</th>
            <th>Phí vận chuyển</th>
            <th>Cách thanh toán</th>
            <th>Cách vận chuyển</th>
            <th>Trạng thái</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.MaHd</td>
                <td>@order.NgayDat.ToShortDateString()</td>
                <td>@order.HoTen</td>
                <td>@order.DiaChi</td>
                <td>@order.PhiVanChuyen</td>
                <td>@order.CachThanhToan</td>
                <td>@order.CachVanChuyen</td>
                <td>@order.TrangThai</td>
            </tr>
        }
    </tbody>
</table>