@model IEnumerable<Ecommerce.Data.HoaDon>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdminHangHoas.cshtml";

}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<h2>Chọn khoảng thời gian để xem thống kê</h2>

<form action="@Url.Action("ByDay", "HoaDons")" method="get">
    <label for="date">Ngày:</label>
    <input type="date" id="date" name="date">
    <button type="submit">Xem</button>
</form>

<form action="@Url.Action("ByMonth", "HoaDons")" method="get">
    <label for="month">Tháng:</label>
    <input type="number" id="month" name="month" min="1" max="12">
    <label for="year">Năm:</label>
    <input type="number" id="year" name="year" min="2000" max="2100">
    <button type="submit">Xem</button>
</form>

<form action="@Url.Action("ByYear", "HoaDons")" method="get">
    <label for="year">Năm:</label>
    <input type="number" id="year" name="year" min="2000" max="2100">
    <button type="submit">Xem</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayDat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayCan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayGiao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CachThanhToan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CachVanChuyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhiVanChuyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GhiChu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaKhNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNvNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaTrangThaiNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayCan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayGiao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CachThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CachVanChuyen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhiVanChuyen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaKhNavigation.MaKh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNvNavigation.MaNv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaTrangThaiNavigation.MaTrangThai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaHd">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaHd">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaHd">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
