@model IEnumerable<Ecommerce.Data.HangHoa>

@{
    ViewData["Title"] = "NhanVienOnly";
    Layout = "~/Views/Shared/_LayoutAdminHangHoas.cshtml";
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.TenHh)</th>
            <th>@Html.DisplayNameFor(model => model.TenAlias)</th>
            <th>@Html.DisplayNameFor(model => model.MoTaDonVi)</th>
            <th>@Html.DisplayNameFor(model => model.DonGia)</th>
            <th>@Html.DisplayNameFor(model => model.Hinh)</th>
            <th>@Html.DisplayNameFor(model => model.NgaySx)</th>
            <th>@Html.DisplayNameFor(model => model.GiamGia)</th>
            <th>@Html.DisplayNameFor(model => model.SoLanXem)</th>
            <th>@Html.DisplayNameFor(model => model.MoTa)</th>
            <th>@Html.DisplayNameFor(model => model.MaLoaiNavigation.MaLoai)</th>
            <th>@Html.DisplayNameFor(model => model.MaNccNavigation.MaNcc)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.TenHh)</td>
                <td>@Html.DisplayFor(modelItem => item.TenAlias)</td>
                <td>@Html.DisplayFor(modelItem => item.MoTaDonVi)</td>
                <td>@Html.DisplayFor(modelItem => item.DonGia)</td>
                @* <td>@Html.DisplayFor(modelItem => item.Hinh)</td> *@
                <td>
                    <img src="~/Hinh/HangHoa/@item.Hinh" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="@item.Hinh">
                 </td>

                <td>@Html.DisplayFor(modelItem => item.NgaySx)</td>
                <td>@Html.DisplayFor(modelItem => item.GiamGia)</td>
                <td>@Html.DisplayFor(modelItem => item.SoLanXem)</td>
                <td>@Html.Raw(item.MoTa.Length > 100 ? item.MoTa.Substring(0, 30) + "..." : item.MoTa)</td>
                <td>@Html.DisplayFor(modelItem => item.MaLoaiNavigation.MaLoai)</td>
                <td>@Html.DisplayFor(modelItem => item.MaNccNavigation.MaNcc)</td>
                <td>
                    @* <a asp-action="Edit" asp-route-id="@item.MaHh">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MaHh">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaHh">Delete</a> *@
                    <form asp-action="Edit" asp-route-id="@item.MaHh" method="get" style="display:inline;">
                        <button type="submit">Edit</button>
                    </form>
                    |
                    <form asp-action="Details" asp-route-id="@item.MaHh" method="get" style="display:inline;">
                        <button type="submit">Details</button>
                    </form>
                    |
                    <form asp-action="Delete" asp-route-id="@item.MaHh" method="post" style="display:inline;">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>